.header {
	background-color: #5277a3;
	padding: 1.2rem 3rem 0.6rem;

	@media (max-width: 500px) {
		padding: 1rem 0.5rem 1rem;
	}
}

.header__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.header .image-wrapper {
	width: 25%;

	@media (max-width: 500px) {
		width: 10%;
	}
}

.header .image-wrapper > img {
	width: 30px;
	height: 30px;
}

.header .wrapper {
	margin-left: 16px;
	width: calc(75% - 16px);
	border-radius: 30px;
	background-color: #2c4a76;
	position: relative;
	transition: border-radius 0.4s ease-in-out;

	@media (max-width: 500px) {
		width: 90%;
	}

	&.active {
		border-radius: 30px 30px 0 0;
	}
}

.header .wrapper > input {
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 10px;
}

.header .wrapper > input::placeholder {
	color: #607d9f;
}

.header .wrapper > span {
	color: #607d9f;
	position: absolute;
	top: 12px;
	left: 20px;
	font-size: 20px;
}

.result {
	position: absolute;
	left: 0;
	top: calc(100% + 1px);
	width: 100%;
	z-index: 10;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
	border-radius: 0 0 2px 2px;
}
