.burgerMenu {
	position: relative;
	display: none;
	height: 20px;
	width: 25px;
	left: 50%;
	transform: translateX(-50%);

	@media (max-width: 1199px) {
		display: block;
	}

	div {
		position: absolute;
		left: 0;
		width: 100%;
		background: #fff;
		cursor: pointer;
		height: 3px;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
		}

		&:nth-child(3) {
			bottom: 0;
		}
	}
}
